@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300,400);
font-family: 'Roboto Slab', serif;
@import url(http://fonts.googleapis.com/css?family=Tangerine);
font-family: 'Tangerine', cursive;


.xsbg {
  background: url('assets/big_woodgrain.gif') no-repeat top center;



}
.navbar{
    border:none;
}
.bg {
  background: url('assets/big_woodgrain.gif') ;

    background-size: 100% 16.5vmin; 
    background-repeat: no-repeat; 
    /*background-size:    cover;15vmin 12vh*/


   /*height: 120px;same height as jumbotron */
  top:0;
  left:0;
    right:0;
margin-bottom: 5vmax;

}
body
{
    font-family:'Open Sans';
 	overflow-x: hidden;

}
.brcoloros
{
      font-family:'Open Sans';
      color:#008f7e;
    	
}

.brhr{
    border-bottom:solid 1px;
    border-color:#008f7e;
        border-color:#00677e;
}

.brroboto{
color:#006771;
    color:#008f7e;
font-family: Roboto Slab;

    font-weight:500;
/*font-family: Tangerine;*/
}

.brbold{
font-weight: 600;
}
.brlineheight{
line-height: 1.5;
}
/*
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */

}*/

* {
margin: 0;
}
html, body {
height: 100%;
overflow-x: hidden;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
/*margin: 0 auto -3em;*/
    margin-bottom:-3em;

}
.footer, .push {
height: 3em;
}

h2
{
        font-size: 4.3vh;
    
}
h3
{
        font-size: 3.5vh;
}
h4
{
        font-size: 3.3vh;
}