<!doctype html>
<html data-framework="vue">
	<head>
		<meta charset="utf-8">
		<title>Vue.js • TodoMVC</title>
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<style> [v-cloak] { display: none; } </style>
	</head>
	<body>
<div id="app">
  <ul>
    <li class="user" v-repeat="users" v-transition>
      <span>{{name}} - {{email}}</span>
      <button v-on="click:removeUser(this)">X</button>
    </li>
  </ul>
  <form id="form" v-on="submit:addUser">
    <input v-model="newUser.name">
    <input v-model="newUser.email">
    <input type="submit" value="Add User">
  </form>
  <ul class="errors">
    <li v-show="!validation.name">Name cannot be empty.</li>
    <li v-show="!validation.email">Please provide a valid email address.</li>
  </ul>
</div>

		<script src="../../dist/vue.js"></script>
		<script>metrics.afterLoad = now()</script>
		<script src="node_modules/director/build/director.js"></script>
		<script src="js/store.js"></script>
		<script>metrics.beforeRender = now()</script>
		<script src="js/app.js"></script>
		<script src="js/routes.js"></script>
		<script>metrics.afterRender = now()</script>
		<script src="perf.js"></script>
	</body>
</html>